body {
    background: #e2dbbd;
    height: 100%;
    padding-bottom: 3rem;
}


@font-face {
    font-family: cfour;
    src: url(/Cfour.otf);
}

@font-face {
    font-family: PP;
    src: url(/PPNeueMontrealMono-Medium.otf);
}

@font-face {
    font-family: PPThin;
    src: url(/PPNeueMontrealMono-Book.otf);
}

@font-face {
    font-family: 'Watch';
    src: url(/PPWatch-Black.otf);
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    border-bottom: 1px solid #030109;
    background-color: #e2dbbd;
}

nav::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(/grunge.png);
    background-size: 1250px 1250px;
    background-repeat: repeat;
    opacity: 0.2;
    pointer-events: none;
}


.sidebar {
    display: none;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #030109;
    transition: top 0.3s ease;
    z-index: 999;
}

.menuButton {
    display: none;
}

nav ul{
    height: 70px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline-start: 0px;
    margin: 0 0;
    box-sizing: border-box;
    position: relative;
    overflow: visible;
    padding-right: 2rem;
}

nav li:not(.brand){
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'PPThin';
    transition: background-color 0.2s ease;
}

nav li:not(.brand):hover {
    color: #e2dbbd;
    background-color: #d13f3d;
}

nav li:first-child{
    margin-right: auto;
}

nav li.brand {
  display: flex;
  height: 100%;
  margin-right: auto;
  overflow: visible;
  flex: 0 0 auto;
  position: absolute;
  left: 0;
  top: 0;
}

#first-element {
    margin-right: 0;
    margin-left: 0px;
    font-weight: bolder;
    color: #2c2c2c;
    font-family: cfour; 
    font-size: 2rem;
    background-color: #d13f3d;
    padding: 0 1rem;
}

nav a {
    height: 100%;
    padding-right: 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #2c2c2c;
    transition: color 0.2s ease;
}

nav li:hover a {
    color: #e2dbbd;
}

nav li:hover .cross {
    background-color: #e2dbbd;
}

.cross {
    height: 24px;
    width: 24px;
    padding-right: 0.5rem;
    padding-left: 2rem;
    background-color: #d13f3d;
    mask: url("cross.png") center / contain no-repeat;
    -webkit-mask: url("cross.png") center / contain no-repeat;
}

nav #accent {
    width: 350px;
    max-width: 350px;
    height: 100%;
    background: #d13f3d;
    mask: 
        url("tf4.png") center / 100% 100% no-repeat,
        linear-gradient(90deg, black 0%, rgba(209, 63, 61, 0.5) 65%, transparent 100%);
    -webkit-mask-composite: destination-in;
    mask-composite: intersect,
        url("tf4.png") center / 100% 100% no-repeat,
        linear-gradient(90deg, black 0%, rgba(209, 63, 61, 0.5) 65%, transparent 100%);
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    pointer-events: none;
    position: relative;
}

@media(max-width: 1100px) {
    .hideOnMobile {
        display: none;
    }
    .menuButton {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        height: 100%;
        padding-right: 0.5rem;
        padding-left: 4rem;
        background: 
            linear-gradient(
            -90deg,
            #e2dbbd 0%,
            #e2dbbd 45%,
            transparent 100%
        );
    }
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        width: 100%;
        padding: 0;
    }
    .sidebar ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 1rem;
        align-items: center;
    }
    nav .sidebar li a{
        background-color: #d13f3d;
        height: 100px;
        color: #030109;
        align-self: center;
        width: 100%;
        justify-content: center;
    }
    .header{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .header h1 span {
        font-size: 2.5rem;
    }
}

.header {
    margin-top: 6rem;
    margin-left: 2%;
}

.header h1 {
    font-family: 'Watch', sans-serif;
    font-weight: 3500;
    font-size: 3.1rem;
    color: #403e3a;
}

.header h1 span {
    position: relative;
    display: inline-block;
}

.header h1 span::before,
.header h1 span::after,
.header h1 span span::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: transparent;
    -webkit-text-stroke: 1px #403e3a;
    z-index: -1;
}

.header h1 span::before {
    transform: translateY(10px);
}

.header h1 span::after {
    transform: translateY(20px);
}

.projects_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.projects_card {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    min-width: 350px;
    min-height: 400px;
    width: 32vw;
    height: 33vw;
    border: 1px solid #403e3a;
    z-index: 2;
}

.card_inset {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    width: 97%;
    height: 97%;
    background: linear-gradient(#403e3a, #403e3a);
    z-index: 2;
}

.card_inset h2 {
    text-align: left;
    font-family: 'Watch', sans-serif;
    margin-left: 8%;
    margin-top: 8%;
    font-size: 1.5rem;
    color: #e2dbbd;
    z-index: 3;
}

.card_inset p {
    margin-left: 15%;
    font-family: 'PPThin', sans-serif;
    font-size: 1rem;
    color: #e2dbbd;
    z-index: 3;
}

.card_inset img {
    height: 20rem;
    width: 90%;
    align-self: center;
}

.projects_card button {
    height: 4rem;
    margin-left: auto;
    margin-top: auto;
    font-family: 'PPThin', sans-serif;
    font-size: 1.25rem;
    color: #403e3a;
    background-color: #d13f3d;
    cursor: pointer;
    border: none;
    min-width: 35%;
    z-index: 99999;
    transition: background-color 0.2s ease,
                color 0.2s ease;
}

.projects_card button:hover {
    color: #d13f3d;
    background-color: #e2dbbd;
}

.projects_card::before,
.projects_card::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: opacity 0.4s ease;
}

.projects_card::before {
    background: repeating-conic-gradient(
        from 0deg,
        transparent 0deg 10deg,
        #d13f3d 10deg 20deg
    );
    transform: scale(1.5);
    opacity: 0;
    z-index: 0;
}

.projects_card::after {
    background: #030109;
    inset: 10px;
    z-index: 1;
}

.projects_card:hover::before {
    animation: rotate 15s linear infinite;
    opacity: 1;
}

@keyframes rotate {
    from {
        transform: scale(1.5) rotate(0deg);
    }
    to {
        transform: scale(1.5) rotate(360deg);
    }
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    filter: url(#noiseFilter2);
    opacity: 0.3;
    mix-blend-mode: hard-light;
    z-index: 2;
    mask-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 1) 30%,
        rgba(255, 255, 255, 1) 100%
    );
    -webkit-mask-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 1) 30%,
        rgba(255, 255, 255, 1) 100%
    );
}

.filter2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    filter: url(#noiseFilter2);
    opacity: 0.15;
    mix-blend-mode: hard-light;
    z-index: 2;
}

.blur {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,1);
  backdrop-filter: blur(10px);
  z-index: 3;
  mask-image: linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    rgba(255,255,255,1) 95%,
    rgba(255,255,255,1) 100%
  );
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    rgba(255,255,255,1) 95%,
    rgba(255,255,255,1) 100%
  );
}