body {
    background-color: #edf2ef;
    margin: 0;
    padding-bottom: 3rem;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQI12P4z8DwHwAFgwJ/lv9BCwAAAABJRU5ErkJggg==");
    opacity: 0.05;
    mix-blend-mode: overlay;
}

@font-face {
    font-family: cfour;
    src: url(/Cfour.otf);
}

@font-face {
    font-family: PP;
    src: url(/PPNeueMontrealMono-Medium.otf);
}

@font-face {
    font-family: PPThin;
    src: url(/PPNeueMontrealMono-Book.otf);
}

@font-face {
    font-family: 'Watch';
    src: url(/PPWatch-Black.otf);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    box-sizing: border-box;
    border-bottom: 1px solid #edf2ef;
    background-color: #030109;
}

.sidebar {
    display: none;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #FAF9F6;
    transition: top 0.3s ease;
}

.menuButton {
    display: none;
}

nav ul{
    height: 70px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    padding-inline-start: 0px;
    margin: 0px;
}

nav li#not-button{
    height: auto;
    font-family: 'PPThin';
    transition: background-color 0.2s ease;
}

nav li:hover {
    color: #030109;
    background-color: #cefe06;
}

nav li:first-child{
    margin-right: auto;
}

nav #first-element {
    margin-left: 0px;
    font-weight: bolder;
    color: #030109;
    font-family: cfour; 
    font-size: 2rem;
    background-color: #cefe06;
}

nav a {
    height: 100%;
    padding: 0 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #edf2ef;
    transition: color 0.2s ease;
}

nav li:hover a {
    color: #030109;
}

@media(max-width: 830px) {
    .hideOnMobile {
        display: none;
    }
    .menuButton {
        display: block;
    }
    .sidebar {
        display: block;
    }
    .sidebar ul {
        flex-direction: column;
        padding: 2rem;
    }
    .sidebar li {
        margin: 1rem 0;
    }
    .header {
        text-align: center;
    }
}

.header {
    margin-top: 6rem;
    margin-left: 2%;
}

.header h1 {
    font-family: 'Watch', sans-serif;
    font-weight: 3500;
    font-size: 3.1rem;
    color: #030109;
}

.header h1 span {
    position: relative;
    display: inline-block;
}

.header h1 span::before,
.header h1 span::after,
.header h1 span span::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: transparent;
    -webkit-text-stroke: 1px #030109;
    z-index: -1;
}

.header h1 span::before {
    transform: translateY(10px);
}

.header h1 span::after {
    transform: translateY(20px);
}

.projects_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.projects_card {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    min-width: 350px;
    min-height: 400px;
    width: 32vw;
    height: 33vw;
    border: 1px solid #d3d3d3;
    z-index: 2;
}

.projects_card.alt {
    background-color: #cefe06;
}

.card_inset {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    width: 97%;
    height: 97%;
    background: linear-gradient(#4446b1, #b78efa);
    z-index: 2;
}

.card_inset.alt {
    background: #cefe06;
}

.card_inset.alr {
    background: none;
}

.projects_card.alr button{
    box-sizing: border-box;
    background-color: #edf2ef;
    color: #030109;
    border: 1px solid #d3d3d3;
}

.card_inset.alt p {
    color: #000000;
}

.card_inset.alt h2 {
    color: #000000;
}

.projects_card.alt button {
    background-color: #FF5677;
}

.card_inset h2 {
    text-align: left;
    font-family: 'Watch', sans-serif;
    margin-left: 8%;
    margin-top: 8%;
    font-size: 1.5rem;
    color: #edf3ee;
    z-index: 3;
}

.card_inset p {
    margin-left: 15%;
    font-family: 'PPThin', sans-serif;
    font-size: 1rem;
    color: #edf3ee;
    z-index: 3;
}

.projects_card button {
    height: 4rem;
    margin-left: auto;
    margin-top: auto;
    font-family: 'PPThin', sans-serif;
    font-size: 1.25rem;
    color: #030109;
    background-color: #cefe06;
    cursor: pointer;
    border: none;
    width: 35%;
    z-index: 99999;
}

.projects_card::before,
.projects_card::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: opacity 0.4s ease;
}

.projects_card::before {
    background: repeating-conic-gradient(
        from 0deg,
        transparent 0deg 10deg,
        #FF8B28 10deg 20deg
    );
    transform: scale(1.5);
    opacity: 0;
    z-index: 0;
}

.projects_card::after {
    background: #030109;
    inset: 10px;
    z-index: 1;
}

.projects_card:hover::before {
    animation: rotate 15s linear infinite;
    opacity: 1;
}

.projects_card.alt::before {
    background: repeating-conic-gradient(
        from 0deg,
        transparent 0deg 10deg,
        #FF5677 10deg 20deg
    );
}

.projects_card.alr::before {
    background: repeating-conic-gradient(
        from 0deg,
        transparent 0deg 10deg,
        #030109 10deg 20deg
    );
}

.projects_card.alt::after {
    background: #030109;
    inset: 10px;
    z-index: 1;
}

@keyframes rotate {
    from {
        transform: scale(1.5) rotate(0deg);
    }
    to {
        transform: scale(1.5) rotate(360deg);
    }
}

.filter {
    position: absolute;
    inset: 0;
    background: #000;
    filter: url(#noiseFilter2);
    opacity: 0.3;
    mix-blend-mode: hard-light;
    z-index: 2;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 0%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 0%);
}