body {
    background-color: #edf2ef;
    padding-bottom: 3rem;
}

@font-face {
    font-family: cfour;
    src: url(/Cfour.otf);
}

@font-face {
    font-family: PP;
    src: url(/PPNeueMontrealMono-Medium.otf);
}

@font-face {
    font-family: PPThin;
    src: url(/PPNeueMontrealMono-Book.otf);
}

@font-face {
    font-family: 'Watch';
    src: url(/PPWatch-Black.otf);
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    border-bottom: 1px solid #030109;
    background-color: #030109;
}

.sidebar {
    display: none;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #030109;
    transition: top 0.3s ease;
    z-index: 999;
}

.menuButton {
    display: none;
}

nav ul{
    height: 70px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline-start: 0px;
    margin: 0 0;
    box-sizing: border-box;
    position: relative;
    overflow: visible;
    padding-right: 2rem;
}

nav li{
    height: auto;
    font-family: 'PPThin';
    transition: background-color 0.2s ease;
}

nav li:hover {
    color: #030109;
    background-color: #cefe06;
}

nav li:first-child{
    margin-right: auto;
}

nav li.brand {
  display: flex;
  height: 100%;
  margin-right: auto;
  overflow: visible;
  flex: 0 0 auto;
  position: absolute;
  left: 0;
  top: 0;
}

#first-element {
    margin-right: 0;
    margin-left: 0px;
    font-weight: bolder;
    color: #030109;
    font-family: cfour; 
    font-size: 2rem;
    background-color: #cefe06;
    padding: 0 1rem;
    mix-blend-mode: screen;
}

nav a {
    height: 100%;
    padding: 0 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #edf2ef;
    transition: color 0.2s ease;
}

nav li:hover a {
    color: #030109;
}

nav #accent {
    width: 350px;
    max-width: 350px;
    height: 100%;
    background:  
        url("tf2.jpg") center/cover no-repeat,
        #cefe06;
    mask-image: linear-gradient(
        90deg,
        black 0%,
        rgba(0, 0, 0, 0.5) 75%,
        transparent 100%
    );
    background-blend-mode: multiply;
    position: relative;
}

@media(max-width: 1100px) {
    .hideOnMobile {
        display: none;
    }
    .menuButton {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        height: 100%;
        padding-right: 1rem;
        padding-left: 4rem;
        background: 
            linear-gradient(
            -90deg,
            black 0%,
            rgba(0, 0, 0, 1) 45%,
            transparent 100%
        );
    }
    .sidebar {
        display: block;
    }
    .sidebar ul {
        flex-direction: column;
        padding: 2rem;
    }
    nav .sidebar li a{
        background-color: #cefe06;
        height: 100px;
        margin: 1rem auto;
        color: #030109;
        align-self: center;
        width: 100%;
        justify-content: center;
        padding: 0;
    }
    .header{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .header h1 span {
        font-size: 2.5rem;
    }
}

.header {
    margin-top: 6rem;
    margin-left: 2%;
}

.header h1 {
    font-family: 'Watch', sans-serif;
    font-weight: 3500;
    font-size: 3.1rem;
    color: #030109;
}

.header h1 span {
    position: relative;
    display: inline-block;
}

.header h1 span::before,
.header h1 span::after,
.header h1 span span::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: transparent;
    -webkit-text-stroke: 1px #030109;
    z-index: -1;
}

.header h1 span::before {
    transform: translateY(10px);
}

.header h1 span::after {
    transform: translateY(20px);
}

.projects_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.projects_card {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    min-width: 350px;
    min-height: 400px;
    width: 32vw;
    height: 33vw;
    border: 1px solid #d3d3d3;
    z-index: 2;
}

.projects_card.alt {
    background-color: #cefe06;
}

.card_inset {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1.5%;
    left: 1.5%;
    width: 97%;
    height: 97%;
    background: linear-gradient(#4446b1, #b78efa);
    z-index: 2;
}

.card_inset.alt {
    background: #cefe06;
}

.card_inset.alr {
    background: none;
}

.projects_card.alr button{
    box-sizing: border-box;
    background-color: #edf2ef;
    color: #030109;
    border: 1px solid #a1a1a1;
}

.card_inset.alt p {
    color: #000000;
}

.card_inset.alt h2 {
    color: #000000;
}

.projects_card.alt button {
    background-color: #FF5677;
}

.card_inset h2 {
    text-align: left;
    font-family: 'Watch', sans-serif;
    margin-left: 8%;
    margin-top: 8%;
    font-size: 1.5rem;
    color: #edf3ee;
    z-index: 3;
}

.card_inset p {
    margin-left: 15%;
    font-family: 'PPThin', sans-serif;
    font-size: 1rem;
    color: #edf3ee;
    z-index: 3;
}

.projects_card button {
    height: 4rem;
    margin-left: auto;
    margin-top: auto;
    font-family: 'PPThin', sans-serif;
    font-size: 1.25rem;
    color: #030109;
    background-color: #cefe06;
    cursor: pointer;
    border: none;
    min-width: 35%;
    z-index: 99999;
}

.projects_card::before,
.projects_card::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: opacity 0.4s ease;
}

.projects_card::before {
    background: repeating-conic-gradient(
        from 0deg,
        transparent 0deg 10deg,
        #FF8B28 10deg 20deg
    );
    transform: scale(1.5);
    opacity: 0;
    z-index: 0;
}

.projects_card::after {
    background: #030109;
    inset: 10px;
    z-index: 1;
}

.projects_card:hover::before {
    animation: rotate 15s linear infinite;
    opacity: 1;
}

.projects_card.alt::before {
    background: repeating-conic-gradient(
        from 0deg,
        transparent 0deg 10deg,
        #FF5677 10deg 20deg
    );
}

.projects_card.alr::before {
    background: repeating-conic-gradient(
        from 0deg,
        transparent 0deg 10deg,
        #030109 10deg 20deg
    );
}

.projects_card.alt::after {
    background: #030109;
    inset: 10px;
    z-index: 1;
}

@keyframes rotate {
    from {
        transform: scale(1.5) rotate(0deg);
    }
    to {
        transform: scale(1.5) rotate(360deg);
    }
}

.filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    filter: url(#noiseFilter2);
    opacity: 0.3;
    mix-blend-mode: hard-light;
    z-index: 2;
    mask-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 1) 30%,
        rgba(255, 255, 255, 1) 100%
    );
    -webkit-mask-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 1) 30%,
        rgba(255, 255, 255, 1) 100%
    );
}

.blur {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,1);
  backdrop-filter: blur(10px);
  z-index: 3;
  mask-image: linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    rgba(255,255,255,1) 95%,
    rgba(255,255,255,1) 100%
  );
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0,0,0,0) 0%,
    rgba(255,255,255,1) 95%,
    rgba(255,255,255,1) 100%
  );
}