*{
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.ball {
    animation: bounce 0.5s;  
    animation-direction: alternate;  
    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);  
    animation-iteration-count: infinite;  
}  

@keyframes bounce {  
    from {  
      transform: translate3d(0, 0, 0);  
    }  
    to {  
      transform: translate3d(0, 50px, 0);  
    }  
} 

@font-face {
    font-family: bro;
    src: url(/HOMEPAGE_RESOURCES/BrolinkDemo-VGyMZ.otf);
}


@font-face {
    font-family: against;
    src: url(/DragonProject/againstregular.ttf);
}

@font-face {
    font-family: cfour;
    src: url(/Cfour.otf);
}

@font-face {
    font-family: cap;
    src: url(/GAME_PROJECTS/HiveGrind/Capuche\ Trial.otf);
}

h1 {
    font-family: against;
    font-style: bold;
}

body{
    background-color: #FAF9F6;
}

html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth !important;
}

.section_header {
    padding-top: 0%;
    height: 100%;
    background-color: #FAF9F6;
    text-align: center;
}

.partial_header {
    padding-top: 0%;
    background-color: #FAF9F6;
    text-align: center;
}

.partial_header h1{
    margin: 0px;
    padding-bottom: 2%;
}

.section_header h1{
    margin: 0px;
    padding-bottom: 2%;
}

.partial_header h2{
    color: #7C73C0;
    margin: 0px;
    padding-bottom: 0;
    margin-top: 0%;
    font-size: 6rem;
}

.section_header h2{
    color: #7C73C0;
    margin: 0px;
    padding-bottom: 0;
    margin-top: 0%;
    font-size: 6rem;
}

.navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 0px;
}

#navbar__logo {
    background-size: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-weight: bolder;
    color: #000000;
    font-size: 2rem;
    padding: 15px;
    border-radius: 5px;
    background-color: #FF5677;
}


.navbar__menu{
    display: flex;
    grid-template-columns: auto;
    justify-content: space-between;
    transition: max-width 0.2s linear;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.navbar__links {
    color: #94ADD7;
    display: flex;
    align-items: center;
    justify-content:space-between;
    text-decoration: none;
    margin-top: 0.75rem;
    padding: 0 1.5rem;
    height: 75%;
    background-color: #4C3F91;
    border-radius: 5px;
}

.navbar__links:hover{
    background-color: #ACFADF;
    color: #000000;
    transition: all 0.5s ease-in-out;
}

.navbar__item{
    color: #8e8d89;
}

.canvas {
    width: 100%;
    height:100%;
}

.my__canvas {   
    max-width: 100%;
    width: 100%;
    height: 100%;
}

#model__container.fade-out {
    background: none;
    background-color: #ebe8da;
}


#model__container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

#container .indicator{
    opacity: 100;
    transition: all 0.2s ease-in-out;
}

#container:hover .indicator{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.wr {
    width: 100%;
    z-index: -98;
    position: -webkit-sticky;
}

.main {
    background-color: #FAF9F6;
}

.main img {
    width: 100%;
    max-width: 100%;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    top: -45px;
    width: 98.95%;
    position: fixed;
}

.other{
    padding-bottom: 0;
    margin-bottom: 0;
}

.other img {
    padding-top: 80%;
    width: 100%;
    z-index: -99;
}

a.anchor {
    scroll-behavior: smooth !important;
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.main__content h1{
    font-weight: bold;
    font-size: 55px;
    color: #000000;
}

.main__content p{
    margin: 0;
    color: #000000;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loading-screen {
	position: fixed;
    overflow: hidden;
	z-index: 998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	opacity: 1;
 	transition: 1s opacity;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#progBar_container {
    position: fixed;
    left: 37.5%;
    top: 70%;
    z-index: 999;
    width: 400px;
    height: 20px;
    background-color: black;
    border-radius: 10px;
}

#words {
    position: fixed;
    top: 64%;
}

#progressbar {
    background-image: linear-gradient(to right, #7344D4, #FF00FF);
    border-radius: 10px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0%;
    height: 100%;
}

.hero__section{
    width: 100%;
    height: 100%;
    margin-bottom: 25%;
}

.projects {
    background-image: linear-gradient(#FAF9F6, #FAF9F6);
}

.projects h1 {
    font-size: 30px;
}


.projects_grid {
    max-width: 100%;
    display: flexbox;
    box-shadow: #000000;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.projects_grid h1{
    font-family: bro;
}

.thumbnail {
    width: 1%;
    max-width: 1%;
}

.cards_row{
    display: flex;
    padding: 0 4px;
}

.cards_column{
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
    margin-bottom: 10px;
    text-align: center;
}

.cards_column img, video {
    border-radius: 3%;
    vertical-align: middle;
    max-width: 100%;
    width: 100%;
}

.projects_card {
    border-radius: 5%;
    padding: 20px;
    margin: 20px;
    position: relative;
    overflow: hidden;
}

.projects_item {
    background-color: #7C73C0;
    border-radius: 5%;
    padding: 20px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.15s ease-in-out;
}

.projects_item:hover {
    margin: -15px;
    box-shadow: 0 0 11px rgba(77,77,77, 1); 
    transition: all 0.5s ease-in-out;
}

.projects_item:hover .overlay_text{
    top: -65%;
    transition: all 0.4s ease-in-out;
}

.art_item {
    border-radius: 5%;
    position: relative;
    overflow: hidden;
    transition: all 0.15s ease-in-out;
}

.art_item .overlay_text{
    width: 80%;
    height: 80%;
    top: 10%;
    right: 10%;
    opacity: 0;
    border-radius: 0 0 0 0 ;
}

.art_item:hover {
    box-shadow: 0 0 11px rgba(77,77,77, 1); 
    transition: all 0.5s ease-in-out;
}

.art_item:hover .overlay_text{
    opacity: 100%;
    transition: all 0.4s ease-in-out;
}

.projects_card:hover .overlay_text{
    top: -65%;
    transition: all 0.4s ease-in-out;
}

.projects_item p{
    color: #000000;
    font-weight: bolder;
    font-size: 30px;
    margin: 10px;

}

.overlay_text {
    width: 100%;
    height: 100%;
    top: -100%;
    right: 0;
    border-radius: 0 0 2% 2%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7px);
    display: flex;                   /* defines flexbox */
    align-items: flex-end;           /* bottom of the box */
    justify-content: center;
    transition: all 0.4s ease-in-out;
}

.overlay_text h2 {
    margin-bottom: 10px;
    color: #000000;
}

.art_item .caption_text{
    height: 70%; 
    top: 89%;
    opacity: 0;
}

.art_item:hover .caption_text{
    opacity: 100%;
    transition: all 0.4s ease-in-out;
}

.caption_text {
    width: 100%;
    height: 100%;
    top: -100%;
    right: 0;
    border-radius: 0 0 2% 2%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7px);
    display: flex;                   /* defines flexbox */
    align-items: flex-end;           /* bottom of the box */
    justify-content: center;
    transition: all 0.4s ease-in-out;
}

.social_media_container {
    text-align: center;
    padding-top: 0.75%;
}

.icon_list {
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 10px;
    padding: 15px 15px;
    color: #4C3F91;
    border: 3px solid #4C3F91;
    border-radius: 50%;
    transition: .5s;
}

.icon_list:hover {
    color: #FF5677;
    border: 3px solid #FF5677;
    transition: .25s;
}

.siderlay_text {
    width: 30%;
    height: 30%;
    top: 6%;
    left: 4%;
    border-radius: 15px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(7px);
    opacity: 0%;
    transition: all 0.4s ease-in-out;
}

.siderlay_text p{
    margin: 0;
    font-size: larger;
}

.siderlay_text li{
    color: #000000;
}


.projects_item:hover .siderlay_text{
    opacity: 100%;
    transition: all 0.4s ease-in-out;
}

.HG_button {
    color: #f9c901; 
    margin: 50px 0 0 0; 
    width: 15%; 
    background-color: black; 
    border-color: #f9c901; 
    height: 70px; 
    font-size: larger;
    border-radius: 10px;
}

.HG_button:hover {
    background-color: #f9c901;
    border-color: black;
    color: black;
    transition: all 0.5s ease-in-out;
}

.BS_button {
    color: white; 
    margin: 50px 0 0 0; 
    width: 15%; 
    background-color: #111111; 
    border-color: white; 
    height: 70px; 
    font-size: larger;
    border-radius: 10px;
}

.BS_button:hover {
    background-color: white;
    border-color: #111111;
    color: #111111;
    transition: all 0.5s ease-in-out;
}