*{  
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
}

@font-face {
    font-family: bro;
    src: url(/HOMEPAGE_RESOURCES/BrolinkDemo-VGyMZ.otf);
}


@font-face {
    font-family: against;
    src: url(/DragonProject/againstregular.ttf);
}

@font-face {
    font-family: cfour;
    src: url(/Cfour.otf);
}

@font-face {
    font-family: cap;
    src: url(/GAME_PROJECTS/HiveGrind/Capuche\ Trial.otf);
}

h1 {
    font-family: against;
    font-style: bold;
}

body{
    background-color: #FAF9F6;
}

html {
    scroll-behavior: smooth !important;
}

nav {
    position: fixed;
    top: 0;
    width: 98%;
    padding-top: 1rem;
    z-index: 9999;
    background-color: #FAF9F6;
    padding-bottom: 1rem;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}

nav li {
    height: 70px;
}

nav li:first-child{
    margin-right: auto;
    margin-left: 1rem;
}

nav #first-element {
    margin-right: auto;
    font-weight: bolder;
    color: #000000;
    font-family: cfour; 
    font-size: 2rem;
    background-color: #FF5677;
    border-radius: 5px;
}

nav a {
    height: 100%;
    padding: 0 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: #94ADD7;
    background-color: #4C3F91;
    border-radius: 5px;
    margin: 0 5px;
}

nav a:hover{
    background-color: #ACFADF;
    color: #000000;
    transition: all 0.5s ease-in-out;
}

.sidebar {
    position: fixed;
    top: -100dvh;
    min-width: 100vw;  
    min-height: 50vh;
    z-index: 9999;
    background-color: #4d3f91;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.55s ease-in-out;
}

.sidebar li {
    height: 4rem;
}

.sidebar li:first-child {
    margin-left: 0;
}

.menuButton {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    .menuButton{
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar li:first-child {
    margin-right: 0;
}

.section_header {
    padding-top: 0%;
    height: 100%;
    background-color: #FAF9F6;
    text-align: center;
}

.partial_header {
    padding-top: 2%;
    background-color: #FAF9F6;
    text-align: center;
}

.partial_header h1{
    font-family: bro; 
    font-size: 2rem;
    text-decoration: underline; 
    margin: 0px;
    padding-bottom: 2%;
}

.section_header h1{
    margin: 0px;
    padding-bottom: 2%;
}

.partial_header h2{
    color: #7C73C0;
    margin: 0px;
    padding-bottom: 0;
    margin-top: 0%;
    font-size: 6rem;
}

.section_header h2{
    color: #7C73C0;
    margin: 0px;
    padding-bottom: 0;
    margin-top: 0%;
    font-size: 6rem;
}

.projects_grid {
    z-index: 0;
    width: 1800px;
    max-width: 98vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin: 0 auto;
}

.projects_item {
    width: 275px;
    min-width: 25%;
    max-width: 100%;
    background-color: #7C73C0;
    border-radius: 5%;
    padding: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    transition: all 0.15s ease-in-out;
}

.projects_item img {
    width: 400px;
    min-width: 100%;
    max-width: 100%;
    align-self: center;
    margin: 0 auto;
}

.projects_item:hover .overlay_text{
    top: -65%;
    transition: all 0.4s ease-in-out;
}

.projects_item p{
    color: #000000;
    font-weight: bolder;
    font-size: 1.75em;
    text-align: center;
}

.overlay_text {
    width: 100%;
    height: 100%;
    top: -100%;
    right: 0;
    border-radius: 0 0 2% 2%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(7px);
    display: flex;                   /* defines flexbox */
    align-items: flex-end;           /* bottom of the box */
    justify-content: center;
    transition: all 0.4s ease-in-out;
}

.overlay_text h2 {
    margin-bottom: 10px;
    color: #000000;
}